{% extends './base.html' %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %} 
    {% trans "Activar Cuenta" %}
{% endblock %}

{% block stylesheet %}
<style type="text/css">
	.help-block {
	    margin-left: 41px;
	}
</style>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5><strong>{% trans "Activación de Cuenta" %}</strong></h5>
                </div>
                <div class="ibox-content">

                        <form id="wizardForm" name="activationForm" class="wizard-big" method="post" action=".">
                            {% csrf_token %}
                            <input type="hidden" name="current_step" value="{{step}}" />
                            
                            {% include "./account_activation/step_one.html" %}
                            {% include "./account_activation/step_two.html" %}
                            {% include "./account_activation/step_three.html" %}                            
                            
                        </form>

                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Steps -->
<script src="http://localhost/photoadmin/static/photoadmin/js/plugins/staps/jquery.steps.min.js"></script>
    
<script type="text/javascript">
$(document).ready(function() {
    
    $("#wizardForm").steps({
        headerTag: 'h1',
        bodyTag: 'fieldset'
    });
    
});
    
</script>
{% endblock %}