{% extends './base.html' %}
{% load i18n %}

<!--
    {% load staticfiles %} 
-->
<!DOCTYPE html>

{% block title %} {% trans 'Confirmacion' %} {% endblock %}

    {% block content%}  
    <div class="middle-box text-center loginscreen   animated fadeInDown">  
        <div>
            <div>

                <h1 class="logo-name">{{ app_name }}</h1>

            </div>
            
            <h3>{% trans 'Cuenta Activada' %}</h3>
            
            <p>
            {% if gender == 'M' %}
                    		{% trans 'Sr.' %}
                    	{% endif %}
                    	
                    	{% if gender == 'F'%}
                    		{% trans 'Sra.' %}
                    	{% endif %}
                    	{{name}} {{last_name}} {% trans 'su cuenta ha sido activada correctamente. Para acceder a su cuenta presione Entrar'%}<br/>
                    	<br/>
                    	<a class="btn btn-sm btn-white btn-block" href=" {% url 'PhotoAdmin:login' %}">Entrar</a>                    	
            </p>
            
            
            <p class="m-t"> <small>{{ app_name }} Copyright &copy; 2017</small> </p>
        </div> 
    </div>               
            
    {% endblock %}    
    
    
