{% load i18n %}

<h1>{% trans "Contacto" %}</h1>
<fieldset>
    <h2>{% trans "Contrato" %}</h2>
        
    <div class="row">
    	<div style="height: 300px">
    		{% include './contrato.html' %}
    	</div>    	
    	<div class="clear-fix" />    	
        
    </div>
    
    <div class="row">
    	<div class="col-lg-2">  
    	<p>
    	 {% trans 'Esta usted de acuerdo con este contrato? ' %} 
    	</p>                          
                <label class="radio-inline"><input type="radio" name="aggrement_acceptance" value="True"> <span>{% trans 'Si' %}</span></label>
                <label class="radio-inline"><input type="radio" name="aggrement_acceptance" value="False"> <span>{% trans 'No' %}</span></label>               
            
        </div>
    </div>        
    
</fieldset>