{% extends './base.html' %}
{% load i18n %}

<!DOCTYPE html>

{% block title%} 
	{% trans 'Inicio' %}  
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block pageTitle %}
 {% trans 'Inicio' %}
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li class="active"><a href="."><strong>{% trans 'Inicio' %}</strong></a></li>		
	</ol>
{% endblock %}

{% block actionArea %}
	<div class="col-sm-8">
		<div class="title-action">
			<a href="" class="btn btn-primary">This is action area</a>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="text-center m-t-lg">
			<h1>Welcome in INSPINIA Static SeedProject</h1>
			<small> It is an application skeleton for a typical web app.
				You can use it to quickly bootstrap your webapp projects and dev
				environment for these projects. </small>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}